{% extends "base.html"%}

{% block title %}
    {{ site_title }}
{% endblock %}
{% block logo %}
     <a href="/">LOGO</a>
{%  endblock logo %}
{% block content02 %}
<div class="content_home_image">
    <p><image src="static/reader.png" style="width:300px; height: 300px" ></image></p>
</div>
    <div class="content_home_text">
    <div class="content_home_welcome">
        <h2>Welcome!</h2>
    </div>
    <p> In the current {{ site_title }} there are {{ numAuthors }} authors who collectively have written {{ numBooks }} books with
        {{ numEditions }} edition in publication.</p>
    <p> <a href = '/authors/'> The list of authors</a>  | <a href = '/books/'> The list of books</a> </p>
    </div>
{%  endblock content02 %}






<!--
  The number of books in the data set
  The total number of editions in the data set
  The number of authors in the data set
  A link to a ‘List of Authors’, with the URL /authors/.
  A link to a ‘List of Books’, with the URL /books/.
-->